/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* //GENERAL */


/* HEADER */
.head {
    background-color: rgb(8, 8, 53);
    background-image: url(/image/landingP1.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
    color: #fff;
    /* width: 100%; */
    /* height: 100vh; */
    position: relative;
}
/* 
.head h3 {
    width: 60%;
} */
.navbar {
    box-shadow: 0px 2px 2px rgb(34, 34, 104);
}

.logo {
    cursor: pointer;
}

.login {
    background-color: rgb(15, 15, 105);
    color: #fff; 
    padding: 7px; 
    border-radius: 10px;
}

button .btn {
    background-color: #fff; 
    color: rgb(21, 21, 92); 
    font-weight: 700;
}

nav {
    width: 100%;
}

button .btn:hover {
    background-color: rgb(21, 21, 92);
    border: 2px solid #fff;
    color: #fff;
}

.login:hover {
    background-color: #fff;
    border: 2px solid rgb(15, 15, 105);
    color: rgb(15, 15, 105);
    text-decoration: none;
}

ul {
    list-style: none;
    text-decoration: none;
}

li a {
    color: #000;
    font-weight: 700;
}

.box {
    background-color: #fff;
    /* border: 1px solid blue; */
    font-size: 2rem;
    width: 60px;
    height: 10px;
    margin-bottom: 0;
}

.box:hover {
    background-color: skyblue;
}
/* //HEADER */


/* LOGIN */
/* .email {
    width: 200%;
} */


.email:hover {
    border: 2px solid black;
    box-shadow: -2px 2px 2px #fff;
    /* padding: 2px; */
    transition: 1s ease;
    transform: scaleY(110%);
}
/* 
.password {
    width: 200%;
} */


.password:hover {
    border: 2px solid black;
    box-shadow: -2px 2px 2px #fff;
    /* padding: 2px; */
    transition: 1s ease;
    transform: scaleY(110%);
}

.btn-login {
    background-color: #fff;
    border: none;
    border-radius: 10px; 
    color: rgb(12, 12, 94);
}

.btn-login:hover {
    background-color: rgb(12, 12, 94);
    color: #fff;
    border: 2px solid #fff;
    transition: 1s ease;
    transform: scaleX(110%);
}
/* //LOGIN */


/* SERVICES */
.services {
    background-color: rgba(224, 223, 223, 0.973);
    width: 100%;
    /* height: 100%; */
    border-bottom: 7px solid rgb(7, 7, 63);
}

.sol {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    width: 30%;
}

.sol:hover {
    /* border: 2px solid black;
    box-shadow: 4px 4px 4px black; */
    transition: 1s ease;
    transform: scaleX(110%);
}

/* //SERVICES */


/* ABOUT US */
.about {
    background-color: rgba(224, 223, 223, 0.973);
    width: 100%;
    /* height: 100%; */
}

.about .img:hover {
    transition: 1s ease;
    transform: scaleX(110%);
}

.abt {
    color: #fff;
    background-color: rgb(11, 11, 129);
    word-spacing: 10px;
    border-radius: 20px;
    line-height: 200%;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 50%;
}

.abt:hover {
    transition: 1s ease;
    transform: scaleX(110%);
}

.read a {
    background: #000;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    /* padding: 10px; */
    width: 14%;
}

.read a:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    font-weight: 900;
    transition: 1s ease;
    transform: scaleX(110%);
    /* transform: scaleY(-10%); */
}
/* //ABOUT US */


/* PORTFOLIO */
.portfolio {
    background-color: rgba(53, 50, 50, 0.973);
    /* width: 100vw; */
    /* height: 100%; */
}

.view {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid rgb(10, 10, 61);
    color: rgb(31, 31, 39);
    font-weight: 700;
    width: 14%;
}

.view:hover {
    transition: 1s ease;
    transform: scaleX(110%);
}

/* //PORTFOLIO */


/* OBJECTIVE */
.objective {
    background-color: rgba(224, 223, 223, 0.973);
    width: 100%;
    /* height: 100%; */
    /* border-bottom: 7px solid rgb(7, 7, 63); */
}

.obj {
    background-color: #fff;
    /* background-size: contain; */
    /* border-radius: 20px; */
    padding-top: 20px;
    margin-bottom: 10px;
    /* width: 40%; */
}

.obj:hover {
    border: 2px solid black;
    box-shadow: -4px 4px 4px black;
    transition: 1s ease;
    transform: scaleX(110%);
}

/* //OBJECTIVE */


/* CONTACT US */
.contact {
    background-color: rgba(110, 109, 109, 0.973);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    color: #fff;
    margin-bottom: 20px;
    width: 100%;
    /* height: 100%; */
    /* border-bottom: 7px solid rgb(7, 7, 63); */
}

input {
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: -2px 2px 2px #000;
    padding: 7px;
}

textarea {
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: -2px 2px 2px #000;
    padding: 7px;
}

.btn-submit {
    background-color: rgb(49, 48, 48);
    border: 2px solid #fff;
    border-radius: 10px; 
    color: #fff;
}

.btn-submit:hover {
    background-color: #fff;
    border: 2px solid rgb(49, 48, 48);
    color: rgb(49, 48, 48);
    transition: 1s ease;
    transform: scaleX(110%);
}

/* //CONTACT US */


/* FOOTER */
.footer {
    background-color: rgba(34, 10, 90, 0.973);
    color: #fff;
    width: 100%;
    /* height: 100%; */
    /* border-bottom: 7px solid rgb(7, 7, 63); */
}

input {
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: -2px 2px 2px #000;
    padding: 7px;
}

textarea {
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: -2px 2px 2px #000;
    padding: 7px;
}

.btn-submit {
    background-color: rgb(49, 48, 48);
    border: 2px solid #fff;
    border-radius: 10px; 
    color: #fff;
}

.btn-submit:hover {
    background-color: #fff;
    border: 2px solid rgb(49, 48, 48);
    color: rgb(49, 48, 48);
    transition: 1s ease;
    transform: scaleX(110%);
}

.obj {
    background-color: #fff;
    /* background-size: contain; */
    /* border-radius: 20px; */
    padding-top: 20px;
    margin-bottom: 10px;
    /* width: 40%; */
}

.obj:hover {
    border: 2px solid black;
    box-shadow: -4px 4px 4px black;
}

/* //FOOTER */



@media (max-width: 900px) {
    /* .head h3 {
        width: 60%;
    } */

    .nav-link {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
    }

    .sol {
        width: 70%;
        margin-bottom: 20px;
    }

    .abt {
        height: 10%;
        width: 100%;
    }
}